@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-y: scroll;
}

body {
  @apply font-sans;
  background-color: #FFFFFF;
}

@keyframes dropdown {
  from {
    opacity: 0;
    transform: translateY(-8px) scaleY(0.95);
  }

  to {
    opacity: 1;
    transform: translateY(0) scaleY(1);
  }
}